<div class="home container">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Print text for searching</mat-label>
      <input
        matInput
        [(ngModel)]="searchText"
        (ngModelChange)="getCountries()"
      />
    </mat-form-field>
    <mat-nav-list>
      @for (country of (countries$ | async); track country.name) {
      <mat-list-item [routerLink]="['/home', country.countryCode]">{{
        country.name
      }}</mat-list-item>
      }
    </mat-nav-list>
  </div>
  <div>
    <mat-list>
      @for (randomCountry of randomCountries; track randomCountry.name) {
      <mat-list-item>
        <span matListItemTitle>
          {{ randomCountry.name }}
        </span>
        <span matListItemLine>
          {{ randomCountry.closestHoliday.name }} -
          {{ randomCountry.closestHoliday.date | date }}
        </span>
      </mat-list-item>
      }
    </mat-list>
  </div>
</div>
